<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="argocd-cli" />
  <package id="autohotkey.install" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="dotnetfx" />
  <package id="Gow" />
  <package id="graphviz" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="python" />
  <package id="python2" />
  <package id="python3" />
  <package id="terraform" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="visualstudio-installer" />
  <package id="visualstudio2017-workload-vctools" />
  <package id="visualstudio2017buildtools" />
  <package id="zip" />
</packages>